name: Publish to npm

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2

      - name: Install dependencies
        run: npm ci

      - name: Build the Next.js application
        run: npm run build

      - name: Publish to npm
        run: npm publish --access public

      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
